<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Audioplayer.Properties.Settings.AudioFilesConnectionString"
            connectionString="Data Source=OBEJAH-LAPTOP\SQLEXPRESS;Initial Catalog=AudioFiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>